RewriteEngine On

RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteRule ^api(/.*)?$ src/index.php [L,QSA]

RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_URI} !^/src/
RewriteCond %{REQUEST_URI} !^/api/
RewriteRule ^(.*)$ public/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [L]
