RewriteEngine On

RewriteBase /

# Route API requests to src/index.php
RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^api/(.*)$ /src/index.php [QSA,L]

# Redirect all requests to the public folder
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_URI} !^/api/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1 [L]
