@charset "UTF-8";

/* global */

/* create global variables here */
:root { 
    --std_border_radius: 10px;
    --std_drop_shadow: 8px 8px 15px #b2afaf;
    --citro_blue: #B4D1F7;
    --off_white: #FAF9F6;
}
body{
    background-image: url(https://wallpaperaccess.com/full/741658.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* backup color */
    background-color: rgba(0, 0, 0, 0.95);
}
/* Joshua was here */

/* create global properties here */
* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.submit_button {
    padding: 10px;
    margin: 5px;
    color: #fff;
    font-size: large;;
    background: linear-gradient(180deg, #77a9ea 0%, #5899ee 100%);
    border: 0;
    border-radius: var(--std_border_radius);
}
.submit_button:hover {
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    cursor: pointer;
}

.edit_button {
    padding: 10px;
    margin: 5px;
    color: #fff;
    font-size: large;
    background: linear-gradient(180deg, #07cd6a 0%, #07c044 100%);
    border: 0;
    border-radius: var(--std_border_radius);
    width: 140px;
    
}
.edit_button:hover {
    background: linear-gradient(180deg, #00cc66 0%, #02af3c 100%);
    cursor: pointer;
}

.delete_button {
    padding: 10px;
    margin: 5px;
    color: #fff;
    font-size: large;
    background: linear-gradient(180deg, #ec403a 0%, #ca1919 100%);
    border: 0;
    border-radius: var(--std_border_radius);
    width: 140px;
}
.delete_button:hover {
    background: linear-gradient(180deg, #ED0800 0%, #ba0c0c 100%);
    cursor: pointer;
}

/* end of global */


/* header */
#nav_bar {
    /* grid properties*/
    width: 100vw;
    min-width: 500px;
    display: grid;
    /* min max keeps it clean when window gets smaller */
    grid-template-columns: minmax(100px, 30%) minmax(300px, 40%) minmax(100px, 30%); 

    /* other styling properties */
    background-color: var(--citro_blue); /* Citronaut Blue */

}

#title_text {
    /* grid properties */
    grid-column: 2;
    place-self: center;

    /* other styling properties */
    padding: 20px;
}

#account_options {
    /* grid properties */
    grid-column: 3;
    justify-self: right;
    align-self: center;

    /* other styling properties */
    margin: 0 20px;
    padding: 8px;
    color: #fff;
    background: linear-gradient(180deg, #77a9ea 0%, #5899ee 100%);
    border: 0;
    border-radius: var(--std_border_radius);
}

#account_options:hover {
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    cursor: pointer;
}
/* end of header */


/* content grid */
#content {
    /* grid properties */
    width: 100vw;
    display: grid;
    grid-template-columns: [margin1]10% [list_box]35%  [details_box]45% [margin3]10%;
    /* other styling properties */
    height: 80vh;
    max-height: 80vh;
    margin-top: 20px;
    min-height: 400px;
}

/* styles both containers */
#content > div {
    width: 100%;
    /* max-height: 100%; */
    height: 100%;
    place-self: center;
    background-color: var(--off_white);
    overflow: hidden;
    min-height: 400px;
}

#contacts_list_container {
    /* grid properties */
    grid-column: list_box;
    display: grid;
    grid-template-rows: [search_bar] 14% [contact_cards] 66% [new_contacts_btn] 20%;

    /* other styling properties */
    border-top-left-radius: var(--std_border_radius);
    border-bottom-left-radius: var(--std_border_radius);
    
}

#search_row {
    /* grid properties */
    place-self: center;
    display: grid;
    grid-template-rows: 40% 60%;
    row-gap: 5px;

    /* other styling properties */
    margin: 13px;
    height: 90%;
    width: 90%;
}

#search_row > label {
    /* grid properties */
    align-self: end;
    justify-self: left;
}

#search_bar {
    /* other styling proeprties */
    border-radius: var(--std_border_radius);
    padding: 10px;
    font-size: 16px;
}

#dynamic_contacts_list {
    /* grid properties */
    grid-row: contact_cards;
    
    /* other styling properties */
    padding: 5px;
    margin: 8px;
    overflow: hidden;
    overflow-y: auto;
}

#dynamic_contacts_list > li {
    padding: 15px;
    margin: 10px;
    list-style-type: none;
    border-radius: var(--std_border_radius);
    box-shadow: 3px 3px 5px #cccbc9;
    background-color: #ffffff;   
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#dynamic_contacts_list > li:hover, #dynamic_contacts_list > li:focus {
    transform: scale(1.02);
    box-shadow: 5px 5px 6px #cccbc9;
    cursor: pointer;
}

#new_contact_button {
    /* grid properties */
    grid-row: new_contacts_btn;
    place-self: center;

    /* other styling properties */
    width: 50%;
    height: 60%;
}
/* end of dynamic contacts list */

/* details pane properties */
#details_pane {
    /* grid properties */
    grid-column: details_box;
    display: grid;
    grid-template-rows: [contact_image]minmax(160px, 30%) [contact_name]minmax(40px, 15%) [contact_info]minmax(40px, 15%) [number_control]minmax(85px, 25%) [option_buttons]minmax(70px, 15%);
    border-top-right-radius: var(--std_border_radius);
    border-bottom-right-radius: var(--std_border_radius);
}
#contact_image {
    border-radius: 50%; /* Optional: make image circular */
    justify-self: center; /* Center the image horizontally */
    align-self: center;
}
#contact_name {
    align-self: center;
    justify-self: center;
}
#contact_details {
    padding: 30px;
    align-self: center;
    justify-self: center;
    font-size: 20px;
}

#option_buttons {
    justify-self: center;
    align-self: center;
}

#number_control{
    align-self: center;
    justify-self: center; 
}
#number_display{
    font-size:80px;
    padding-right: 20px;
    padding-left: 20px;
}
#decrement_button{
    height:80px;
    width:80px;
    border-radius:50%;
    font-size:70px;
}
#increment_button{
    height:80px;
    width:80px;
    font-size:70px;
    border-radius:50%;
}
/* end of content grid */

/* grow animation for pop-up windows */
@keyframes grow {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}


/* account options popup */
#account_options_popup {
    /* popup settings */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    transform-origin: center;
    width: 250px;
    height: 100px;
    padding: 20px;
    z-index: 9;
    animation: grow 0.2s ease forwards;
    text-align: center;

    /* grid properties */
    display: none; /* this is changed to grid in the js */

    background-color: var(--off_white);
    border-radius: var(--std_border_radius);
}

#account_options_popup > div {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    place-items: center;

    margin: 20px;
    height: 80%;
}


/* new contact form */
#new_contact_container {
    /* popup settings */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    transform-origin: center;
    width: 400px;
    height: 500px;
    z-index: 9;
    animation: grow 0.2s ease forwards;

    /* grid properties */
    display: none; /* this is changed to 'grid' in the JavaScript */
    grid-template-rows: 100%;

    /* other styling properties */
    background-color: var(--off_white);
    border-radius: var(--std_border_radius);
}

#form_close_button, #acc_opt_close_button {
    position: absolute;
    user-select: none;
    top: 20px;
    right: 30px;
}

#form_close_button:hover, #acc_opt_close_button:hover {
    color: gray;
}

#new_contact_form {
    /* grid properties */
    grid-row: 1;
    place-self: center;
    place-content: center; 
    display: grid;
    grid-template-rows: [label1] 9% [input1] 15% [label2] 9% [input2] 15% [label3] 9% [input3] 15% [submit] 18%;

    /* other styling properties */
    padding: 20px;
    width: 80%;
    height: 80%;
}

#new_contact_form > label {
    align-self: end;
}

#new_contact_form > input {
    padding: 10px;
    margin: 8px;
    border-radius: var(--std_border_radius);
    border: 1px solid #ddd;
}
/* end of new contact form */

/* delete confirmation pop-up */
#delete_confirmation {
    /* popup settings */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    transform-origin: center;
    width: 450px;
    height: 300px;
    padding: 20px;
    z-index: 9;
    animation: grow 0.2s ease forwards;
    text-align: center;

    /* grid properties */
    display: none; /* this is changed to 'grid' in the JavaScript */
    grid-template-rows: 30% 15% 55%;
    place-items: center;

    /* other styling properties */
    background-color: var(--off_white);
    border-radius: var(--std_border_radius);
}


/* end of delete confirmation pop-up */

/* gray out div used for pop-up forms */
#gray_out {
    display: none; /* this is changed in the JavaScript */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
}

@media (max-width: 800px) {
    #content{
        grid-template-columns: [margin1]2% [list_box]minmax(250px, 45%)  [details_box]minmax(200px, 51%) [margin3]2%;
    }

    #number_display{
        padding-right: 3px;
        padding-left: 3px;
    }
}