@charset "UTF-8";

/* global */

/* create global variables here */
:root { 
    --std_border_radius: 10px;
    --std_drop_shadow: 8px 8px 15px #b2afaf;
    --citro_blue: #B4D1F7;
    --off_white: #FAF9F6;
}

/* Joshua was here */

/* create global properties here */
* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.submit_button {
    padding: 10px;
    margin: 5px;
    color: #fff;
    background: linear-gradient(180deg, #77a9ea 0%, #5899ee 100%);
    border: 0;
    border-radius: var(--std_border_radius);
}

.submit_button:hover {
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
}

/* end of global */


/* header */
#nav_bar {
    /* grid properties*/
    width: 100vw;
    display: grid;
    grid-template-columns: 30% 40% 30%;

    /* other styling properties */
    background-color: var(--citro_blue); /* Citronaut Blue */

}

#title_text {
    /* grid properties */
    grid-column: 2;
    place-self: center;

    /* other styling properties */
    padding: 20px;
}

#account_options {
    /* grid properties */
    grid-column: 3;
    justify-self: right;
    align-self: center;

    /* other styling properties */
    margin: 0 20px;
    padding: 8px;
    color: #fff;
    background: linear-gradient(180deg, #77a9ea 0%, #5899ee 100%);
    border: 0;
    border-radius: var(--std_border_radius);
}

#account_options:hover {
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
}
/* end of header */


/* content grid */
#content {
    /* grid properties */
    width: 100vw;
    display: grid;
    grid-template-columns: [margin1]10% [list_box]35% [margin2]10% [details_box]35% [margin3]10%;

    /* other styling properties */
    height: 80vh;
    margin: 20px;
}

/* styles both containers */
#content > div {
    width: 100%;
    height: 100%;
    place-self: center;
    background-color: var(--off_white);
    box-shadow: var(--std_drop_shadow);
    border-radius: var(--std_border_radius);
}

#contacts_list_container {
    /* grid properties */
    grid-column: list_box;
}

#details_pane {
    /* grid properties */
    grid-column: details_box;
}
/* end of content grid */

/* dynamic contacts list */
#dynamic_contacts_list > li {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 5px;
    margin-top: 5px;
}
/* end of dynamic contacts list */


/* new contact form */

/* grow animation for new contact form */
@keyframes grow {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

#new_contact_container {
    /* popup settings */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    transform-origin: center;
    width: 400px;
    height: 500px;
    z-index: 9;
    animation: grow 0.2s ease forwards;

    /* grid properties */
    display: none; /* this is changed in the JavaScript */
    grid-template-rows: 100%;

    /* other styling properties */
    background-color: var(--off_white);
    border-radius: var(--std_border_radius);
}

#new_contact_form {
    /* grid properties */
    grid-row: 1;
    place-self: center;
    place-content: center;
    display: grid;
    grid-template-rows: [label1] 9% [input1] 15% [label2] 9% [input2] 15% [label3] 9% [input3] 15% [submit] 18%;

    /* other styling properties */
    padding: 20px;
    width: 80%;
    height: 80%;
}

#new_contact_form > label {
    align-self: end;
}

#new_contact_form > input {
    padding: 10px;
    margin: 8px;
    border-radius: var(--std_border_radius);
    border: 1px solid #ddd;
}

#gray_out {
    display: none; /* this is changed in the JavaScript */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
}
/* end of new contact form */