@charset "UTF-8";

/* global */

/* create global variables here */
:root { 
    --std_border_radius: 10px;
    --std_drop_shadow: 8px 8px 15px #b2afaf;
    --citro_blue: #B4D1F7;
    --off_white: #FAF9F6;
}

/* Joshua was here */

/* create global properties here */
* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

/* end of global */


/* header */
#nav_bar {
    /* grid properties*/
    width: 100vw;
    display: grid;
    grid-template-columns: 30% 40% 30%;

    /* other styling properties */
    background-color: var(--citro_blue); /* Citronaut Blue */

}

#title_text {
    /* grid properties */
    grid-column: 2;
    place-self: center;

    /* other styling properties */
    padding: 20px;
}

#account_options {
    /* grid properties */
    grid-column: 3;
    justify-self: right;
    align-self: center;

    /* other styling properties */
    margin: 0 20px;
    padding: 8px;
    color: #fff;
    background: linear-gradient(180deg, #77a9ea 0%, #5899ee 100%);
    border: 0;
    border-radius: var(--std_border_radius);
}

#account_options:hover {
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
}
/* end of header */


/* content grid */
#content {
    /* grid properties */
    width: 100vw;
    display: grid;
    grid-template-columns: [margin1]10% [list_box]35% [margin2]10% [details_box]35% [margin3]10%;

    /* other styling properties */
    height: 80vh;
    margin: 20px;
}

#content > div {
    width: 100%;
    height: 100%;
    place-self: center;
    background-color: var(--off_white);
    box-shadow: var(--std_drop_shadow);
    border-radius: var(--std_border_radius);
}

#contacts_list_container {
    /* grid properties */
    grid-column: list_box;
}

#details_pane {
    /* grid properties */
    grid-column: details_box;
}
/* end of content grid */

/* dynamic contacts list */
#dynamic_contacts_list > li {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 5px;
    margin-top: 5px;
}
/* end of dynamic contacts list */
