@charset "UTF-8";

/* global */

/* create global variables here */
:root { 
    --std_border_radius: 10px;
    --std_drop_shadow: 8px 8px 15px #b2afaf;
    --citro_blue: #B4D1F7;
    --off_white: #FAF9F6;
}

/* Joshua was here */

/* create global properties here */
* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

/* end of global */

body{
    width: 100%;
    background-image: url('starry_background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* backup color */
    background-color: black;
}